.MuiAutocomplete-popupIndicator {
  /* padding: 2px; */
  margin-right: -8px !important;
  margin-top: -14px !important;
  height: 55px !important;
  background-color: #dee2e6 !important;
  border-radius: 0 !important;
  width: 50px !important;
}

.MuiFormLabel-asterisk {
  color: red !important;
}

input[type="time" i] {
  background: none !important;
  border: none !important;
}
